:root {
    --tumbnail-img-height: 15vw;
    --tumbnail-img-width: 20vw;
    --details-image-width: 83vw;
    --details-image-height: 60vw;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #5a5a5a;
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #2f2f2f;
}
a {
    color: #2f2f2f;
    text-decoration: none;
}
.logo {
    display: block;
    text-align: center;
    background-color: #c9c9c9;
    font-size: 1.4em;
    text-transform: uppercase;
    color: #2a2a2a;
}
.logo h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-class {
    display: flex;
    flex-direction: column;
}
.details-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    margin-bottom: 14px;
    position: relative;
    transition: ease-in-out 0.2s;
}
.details-container-scale {
    transform: scale(-0.5, 1);
}
.details-image {
    width: var(--details-image-width);
    height: var(--details-image-height);
    border: 1px solid #e8e8e8;
    max-height: 65vh;
    max-width: 90vh;
}
.details-title {
    display: block;
    background-color: #f6f6f6;
    padding: 5px 10px;
    font-weight: 600;
    letter-spacing: 1px;
    box-shadow: 0 0 3px #ccc;
    margin-top: 14px;
    position: absolute;
    right: 7vh;
    bottom: 1vh;
    opacity: 0.75;
}
.thumbnails-list {
    display: flex;
    flex-wrap: wrap;
    max-height: 45vh;
    overflow-y: scroll;
    list-style: none;
    justify-content: space-evenly;
    padding-left: 0;
    gap: 4.5vw;
    box-sizing: border-box;
    padding: 0 8px;
}
.thumbnails-item {
    border: solid 2px #7b7b7b;
    border-radius: 8px;
    overflow: hidden;
    transition: ease-in-out 0.2s;
}
.thumbnails-item:hover {
    transform: scale(0.95);
}
.thumbnail-active {
    border: solid 2px #f6f6f6;
    transform: scale(0.95);
}
.thumbnails-anchor {
    display: flex;
    flex-direction: column;
}
.thumbnails-image {
    width: var(--tumbnail-img-width);
    height: var(--tumbnail-img-height);
    display: block;
}
.thumbnails-title {
    display: block;
    text-align: center;
    font-weight: 600;
    background-color: #c9c9c9;
    line-height: 1.4;
    padding: 3px 8px;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 4px #cdcdcd;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb {
    background: #c9c9c9;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #e1e1e1;
}

.prev, .next {
    position: absolute;
    display: block;
    text-align: center;
    background-color: rgba(245, 245, 245, 0.75);
    width: 24px;
    height: 24px;
    top: calc(50% - 12px);
}
.prev:hover, .next:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.prev img, .next img {
    padding: 2px;
}
.prev {
    left: 5px;
}
.next {
    right: 5px;
}


@media (width >= 560px) {
    :root {
        --tumbnail-title-min-height: 30px;
        --tumbnail-img-height: 10vw;
        --tumbnail-img-width: 13.3vw;
        --tumbnail-item-height: calc(var(--tumbnail-img-height) + var(--tumbnail-title-min-height));
        --details-image-max-width: 80vh;
        --details-image-max-height: 60vh;
    }
    .main-class {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: calc(100vh - 64px);
    }
    .details-container {
        margin: 0;
        display: flex;
        overflow: hidden;
        box-sizing: border-box;
    }
    .details-title {
        right: 1vh;
    }
    .details-image {
        max-height: var(--details-image-max-height);
        max-width: var(--details-image-max-width);
    }
    .thumbnails-list {
        order: -1;
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: 70vh;
        justify-content: flex-start;
        gap: 2.5vw;
    }
    .thumbnails-item {
        min-height: var(--tumbnail-item-height);
    }
    .thumbnails-title {
        min-height: var(--tumbnail-title-min-height);
    }
}
@media (width = 768px) {
    :root {
        --details-image-width: 70vw;
        --details-image-height: 50vw;
    }
}
@media (width = 820px) {
    :root {
        --details-image-width: 70vw;
        --details-image-height: 50vw;
    }
}
@media (width >= 1000px) {
    :root {
        --details-image-width: 70vw;
        --details-image-height: 50vw;
        --tumbnail-img-height: 6vw;
        --tumbnail-img-width: 8vw;
    }
    .details-image {
        width: calc(var(--details-image-width) * 0.75);
        height: calc(var(--details-image-height) * 0.75);
    }
    .thumbnails-list {
        max-height: 75vh;
        gap: 1.8vw;
    }
}
