body {
    font-family: Helvetica, Arial, sans-serif;
}
h1 {
    text-align: center;
    font-size: 2.4em;
    color: #2b2b2b;
    margin-bottom: 24px;
}
.useful-links-block {
    width: fit-content;
    margin: auto;
}
.useful-link {
    display: block;
    text-decoration: none;
    color: #3e3e95;
    font-size: 1.4em;
    margin-bottom: 16px;
}
.useful-link img {
    width: 46px;
    padding-right: 12px;
    margin-bottom: -5px;
}
.useful-links-block {
    color: rgb(182, 67, 67);
}